mage-ai[google-cloud-storage]
mage-ai[postgres]
mage-ai[dbt]

mage-ai[azure]
mage-ai[clickhouse]
mage-ai[hdf5]
mage-ai[mysql]
mage-ai[redshift]
mage-ai[s3]
mage-ai[snowflake]
mage-ai[spark]
mage-ai[streaming]
mage-ai[all]

google-cloud-storage
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-bigquery-storage
google-auth
google-auth-oauthlib
polars
duckdb
pyarrow
gcsfs
pandas_gbq
dbt-bigquery 
JayDeBeApi
google-cloud-logging
pyyaml